/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

/*HOME*/

nav {
  height: 70px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.nav-logo{
  margin-right: 15%;
}

.nav-list {
  width: 55%;
  margin: auto;
}

.nav-list a {
  margin: 0 6%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  font-family: "Ruda", sans-serif;
  color: black;
}

.nav-contact h3 {
  color: #ffc01d;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 4% 0;
  font-family: "Ruda", sans-serif;
}

.nav-contact a {
  text-decoration: none;
}

/*MOBILE NAV*/

.ham {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  right: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
}

/* change ham image to close */
.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar {
  position: absolute;
  top: 0;
  left: 45%;
  background: rgba(0, 0, 0, 0.9);
  width: 50vw;
  height: 40vh;
  overflow: hidden;
  color: white;
  font-family: "Ruda", sans-serif;
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}

.showNav {
  /* show the menu */
  transform: translateY(0);
}

.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: "Ruda", sans-serif;
  font-size: 2rem;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 1080px) {
  nav {
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
  }

  .nav-list {
    display: none;
  }

  .nav-contact {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .ham {
    display: none;
  }

  .navbar {
    display: none;
  }
}

.section-one {
  width: 100%;
  height: 98vh;
  background-image: url("./img/home-banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-one h1 {
  color: white;
  font-size: 144px;
  font-family: "Righteous", cursive;
}

.red-text {
  color: #a61109;
}

.section-one p {
  width: 43%;
  font-size: 1.3rem;
  color: white;
  font-family: "Basic", sans-serif;
  line-height: 2rem;
  margin-top: 1%;
}

.arrow {
  margin: -4% auto 2% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow img {
  margin: auto;
}

@media screen and (max-width: 1080px) {
  .section-one {
    height: 40vh;
  }

  .section-one h1 {
    font-size: 8rem;
    margin-top: -5%;
  }

  .section-one p {
    width: 80%;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-top: 3%;
  }

  .arrow {
    margin: -8% auto 5% auto;
  }

  .arrow img {
    width: 100px;
  }
}

.section-two-banner {
  height: 150px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-two-banner h1 {
  color: black;
  font-size: 2.3rem;
  font-family: "Righteous", cursive;
}

.section-two-grid {
  height: 50vh;
  background-image: url("./img/bridge-banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.white-line {
  width: 1px;
  height: 395px;
  background-color: white;
}

.section-two-end {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-two-end h3 {
  width: 52%;
  font-size: 1.6rem;
  font-family: "Ruda", sans-serif;
  color: black;
  line-height: 2.1rem;
}

.grid-width {
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-width h2 {
  font-size: 24px;
  font-family: "Ruda", sans-serif;
  margin-bottom: 8%;
}

@media screen and (max-width: 1080px) {
  .section-two-banner {
    height: 50px;
  }

  .section-two-banner h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  .section-two-grid {
    height: 20vh;
    background-image: url("./img/bridge-banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .white-line {
    height: 240px;
  }

  .grid-width {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grid-width h2 {
    font-size: 1.8rem;
    font-family: "Ruda", sans-serif;
    margin-bottom: 10%;
  }

  .grid-width img {
    width: 70px;
  }

  .section-two-end {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-two-end h3 {
    width: 80%;
    font-size: 1.5rem;
    font-family: "Ruda", sans-serif;
    color: black;
    line-height: 1.8rem;
  }
}

.section-three {
  width: 100%;
  height: 85vh;
  background-image: url("./img/tools-banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-box {
  width: 40%;
  height: 90%;
  background-color: rgb(255, 255, 255, 0.93);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.map-box p {
  font-size: 1.1rem;
  font-family: "Ruda", sans-serif;
  width: 80%;
  line-height: 1.5rem;
  margin: 3% 0;
}

.map-box a {
  text-decoration: none;
  width: 25%;
  height: 40px;
}

.services-button {
  width: 100%;
  height: 40px;
  background-color: #ffc01d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.services-button:hover {
  background-color: rgb(255, 192, 29, 0.5);
}

.services-button h3 {
  font-size: 1.1rem;
  color: black;
  font-family: "Righteous", cursive;
}

@media screen and (max-width: 1080px) {
  .section-three {
    width: 100%;
    height: 50vh;
    background-image: url("./img/tools-banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-three img {
    width: 90%;
  }

  .map-box {
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255, 0.93);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .map-box p {
    font-size: 1.4rem;
    font-family: "Ruda", sans-serif;
    width: 90%;
    line-height: 1.6rem;
    margin: 3% 0;
  }

  .map-box a {
    text-decoration: none;
    width: 25%;
    height: 30px;
  }

  .services-button {
    width: 100%;
    height: 40px;
    background-color: #ffc01d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
  }

  .services-button:hover {
    background-color: rgb(255, 192, 29, 0.5);
  }

  .services-button h3 {
    font-size: 1.2rem;
    color: black;
    font-family: "Righteous", cursive;
  }
}

.section-four {
  height: 40vh;
}

.section-four h1 {
  color: black;
  font-size: 2rem;
  font-family: "Righteous", cursive;
  margin: 2% auto 0 auto;
  text-align: center;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.logos img {
  margin: 0 2%;
}

@media screen and (max-width: 1080px) {
  .section-four {
    height: auto;
  }

  .section-four h1 {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Righteous", cursive;
    margin: 4% auto 0 auto;
    text-align: center;
  }

  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }

  .logos img {
    width: 20%;
    margin: 2% 1% 0 1%;
  }

  .circle {
    width: 10% !important;
  }
}

/*ABOUT*/

.about-section-one {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./img/about-banner.jpg");
  background-size: cover;
}

.white-box {
  width: 55%;
  height: 90%;
  background-color: rgb(255, 255, 255, 0.93);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-box img {
  margin-bottom: 2%;
}

.white-box p {
  width: 80%;
  font-size: 1rem;
  font-family: "Ruda", sans-serif;
  line-height: 1.6rem;
}

.about-section-two {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.about-section-two h1 {
  font-size: 2.3rem;
  font-family: "Righteous", cursive;
  margin-bottom: 3%;
}

.client-row {
  width: 74%;
  display: flex;
  flex-wrap: wrap;
}

.client-row img {
  margin: 3% 1%;
}

@media screen and (max-width: 1080px) {
  .about-section-one {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("./img/about-banner.jpg");
    background-size: cover;
  }

  .white-box {
    width: 80%;
    height: 90%;
    background-color: rgb(255, 255, 255, 0.93);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .white-box img {
    margin-bottom: 2%;
    width: 150px;
  }

  .white-box p {
    width: 80%;
    font-size: 1.6rem;
    font-family: "Ruda", sans-serif;
    line-height: 1.8rem;
  }

  .about-section-two {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-section-two h1 {
    font-size: 2rem;
    font-family: "Righteous", cursive;
    margin: 10% 0 0 0;
  }

  .client-row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .client-row img {
    margin:5% 1% ;
    width: 120px;
  }
}

/*SERVICES*/

.services {
  background-image: url("./img/brick.jpg");
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services h1 {
  color: black;
  font-size: 2rem;
  font-family: "Righteous", cursive;
  margin: 4% auto 0 auto;
  text-align: center;
}

.services-row {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 4% auto 5% auto;
  align-items: flex-start;
  justify-content: space-between;
}

.services-column-left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.services-column-left ul {
  background-color: rgb(255, 192, 29, 0.6);
  padding: 6%;
  margin: 0 0 3% 0;
}

.services-column-left h2 {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 1% 0;
}

.services-column-left p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 3% 0;
  line-height: 1.4rem;
}

.services-column-right {
  display: flex;
  flex-direction: column;
}

.right-yellow {
  height: 224px;
  background-color: rgb(255, 192, 29, 0.6);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-yellow p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 2rem;
}

.thin {
  font-weight: 400 !important;
}

@media screen and (max-width: 1080px) {
  .services {
    background-image: url("./img/brick.jpg");
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services h1 {
    color: black;
    font-size: 2.2rem;
    font-family: "Righteous", cursive;
    margin: 8% auto 3% auto;
    text-align: center;
  }

  .services-row {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 5% auto;
    align-items: center;
    justify-content: space-between;
  }

  .services-column-left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .services-column-left ul {
    background-color: rgb(255, 192, 29, 0.6);
    padding: 4%;
    margin: 4% 0 3% 0;
  }

  .services-column-left h2 {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 1% 0;
  }

  .services-column-left p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 3% 0;
    line-height: 1.2rem;
  }

  .services-column-right {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .services-column-right img {
    width: 50%;
    height: auto;
  }

  .right-yellow {
    width: 50%;
    height: auto !important;
    background-color: rgb(255, 192, 29, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right-yellow p {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 2rem;
  }

  .thin {
    font-weight: 400 !important;
  }
}

/*CONTACT*/

.contact-section-one {
  background-image: url("./img/brick.jpg");
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.contact-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  background-color: rgb(255, 192, 29, 0.6);
  height: 75%;
  padding: 5%;
}

.contact-box h1 {
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-align: center;
}

.contact-box h3 {
  color: white;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 10% 0 0.5% 0;
}

.contact-box p {
  color: white;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.2rem;
}

.contact-box a {
  text-decoration: none;
}

.contact-box form {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 0 2.5%;
  margin: auto;
  margin-top: 5%;
}

.contact-box input {
  height: 27px;
  border: none;
  margin: 2% 0;
  width: 75%;
}

.contact-box input:focus {
  outline: none;
}

.contact-box label {
  color: white;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.2rem;
}

#message {
  height: 150px !important;
  width: 100% !important;
}

#submit {
  width: 20%;
  margin-left: 80%;
  height: 30px;
  background-color: black;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1080px) {
  .contact-section-one {
    background-image: url("./img/brick.jpg");
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5% auto;
    background-color: rgb(255, 192, 29, 0.6);
    height: auto;
    padding: 5%;
  }

  #submit {
    width: 20%;
    margin-left: 70%;
    height: 30px;
    background-color: black;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
  }

  .contact-box h1 {
    font-size: 2rem;
    font-family: "Righteous", cursive;
    text-align: center;
  }

  .contact-box h3 {
    color: white;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 10% 0 0.5% 0;
  }

  .contact-box p {
    color: white;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.2rem;
  }
}

/*FOOTER*/

footer {
  height: 40vh;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  padding-bottom: 6%;
}

.footer-top {
  display: flex;
  flex-direction: row;
  height: 75%;
  padding: 5% 10%;
  align-items: center;
  justify-content: center;
}

.footer-left {
  width: 30%;
  margin-right: 10%;
}

.footer-left h3 {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.footer-left p {
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 23px;
}

.footer-left a {
  text-decoration: none;
}

.footer-middle {
  width: 30%;
  margin-right: 10%;
}

.footer-right {
  width: 30%;
}

.footer-right h1 {
  color: white;
  font-size: 36px;
  font-family: "Righteous", cursive;
  letter-spacing: 0.02em;
  margin-bottom: 4%;
}

.footer-right p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2%;
}

.footer-right form {
  display: flex;
  flex-direction: column;
}

.footer-right input {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid white;
  height: 40px;
}

.footer-right input::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.footer-right input:focus {
  outline: none;
}

#index-subscribe {
  width: 30% !important;
  background-color: #ffc01d !important;
  border: none !important;
  height: 25px !important;
  margin: 4% 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
}

#about-subscribe {
  width: 30% !important;
  background-color: #ffc01d !important;
  border: none !important;
  height: 25px !important;
  margin: 4% 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
}

#services-subscribe {
  width: 30% !important;
  background-color: #ffc01d !important;
  border: none !important;
  height: 25px !important;
  margin: 4% 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
}

#contact-subscribe {
  width: 30% !important;
  background-color: #ffc01d !important;
  border: none !important;
  height: 25px !important;
  margin: 4% 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
}

.footer-bottom {
  height: 10%;
  padding: 1% 0;
  background-color: #797979;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-bottom a {
  color: #ffc01d;
  font-size: 1.3rem;
  font-family: "Righteous", cursive;
  text-decoration: none;
  padding: 0 1%;
}

@media screen and (max-width: 1080px) {
  footer {
    height: auto;
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    padding-bottom: 6%;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 5%;
    align-items: center;
    justify-content: center;
  }

  .footer-left {
    width: 50%;
    margin: auto;
  }

  .footer-left h3 {
    color: white;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }

  .footer-left p {
    color: white;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1rem;
  }

  .footer-middle {
    width: 50%;
    margin: auto;
    display: none;
  }

  .footer-middle img {
    width: 200px;
  }

  .footer-right {
    width: 50%;
  }

  .footer-right h1 {
    color: white;
    font-size: 1.1rem;
    font-family: "Righteous", cursive;
    letter-spacing: 0.02em;
    margin-bottom: 4%;
  }

  .footer-right p {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2%;
  }

  .footer-right form {
    display: flex;
    flex-direction: column;
  }

  .footer-right input {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid white;
    height: 40px;
  }

  .footer-right input::placeholder {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
  }

  .footer-right input:focus {
    outline: none;
  }

  #index-subscribe {
    width: 30% !important;
    background-color: #ffc01d !important;
    border: none !important;
    height: 25px !important;
    margin: 4% 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
  }

  #about-subscribe {
    width: 30% !important;
    background-color: #ffc01d !important;
    border: none !important;
    height: 25px !important;
    margin: 4% 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
  }

  #services-subscribe {
    width: 30% !important;
    background-color: #ffc01d !important;
    border: none !important;
    height: 25px !important;
    margin: 4% 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
  }

  #contact-subscribe {
    width: 30% !important;
    background-color: #ffc01d !important;
    border: none !important;
    height: 25px !important;
    margin: 4% 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
  }

  .footer-bottom {
    height: 10%;
    padding: 1% 0;
    background-color: #797979;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-bottom a {
    color: #ffc01d;
    font-size: 0.9rem;
    font-family: "Righteous", cursive;
    text-decoration: none;
    padding: 0 1%;
  }
}

/*SMALL FOOTER*/

.small-footer {
  height: 18vh !important;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
}

.small-footer-img {
  height: 100px;
}

.small-left {
  width: 25%;
}

.small-left h1 {
  color: white;
  font-size: 1rem;
  font-family: "Righteous", cursive;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 2%;
}

.small-left p {
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2%;
}

.small-left form {
  display: flex;
  flex-direction: column;
}

.small-left input {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid white;
  height: 20px;
}

.small-left input::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.small-left input:focus {
  outline: none;
}

#index-subscribe {
  width: 25% !important;
  background-color: #ffc01d !important;
  border: none !important;
  height: 25px !important;
  margin: 4% 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

#about-subscribe {
  width: 25% !important;
  background-color: #ffc01d !important;
  border: none !important;
  height: 25px !important;
  margin: 4% 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

#services-subscribe {
  width: 25% !important;
  background-color: #ffc01d !important;
  border: none !important;
  height: 25px !important;
  margin: 4% 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

#contact-subscribe {
  width: 25% !important;
  background-color: #ffc01d !important;
  border: none !important;
  height: 25px !important;
  margin: 4% 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

@media screen and (max-width: 1080px) {
  .small-footer {
    height: 14vh !important;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
  }

  .small-footer-img {
    height: 50px;
  }

  .small-left {
    width: 50%;
  }

  .small-left h1 {
    color: white;
    font-size: 0.9rem;
    font-family: "Righteous", cursive;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 2%;
  }

  .small-left p {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2%;
  }

  .small-left form {
    display: flex;
    flex-direction: column;
  }

  .small-left input {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid white;
    height: 20px;
  }

  .small-left input::placeholder {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
  }

  .small-left input:focus {
    outline: none;
  }

  #index-subscribe {
    width: 30% !important;
    background-color: #ffc01d !important;
    border: none !important;
    height: 25px !important;
    margin: 4% 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
  }

  #about-subscribe {
    width: 30% !important;
    background-color: #ffc01d !important;
    border: none !important;
    height: 25px !important;
    margin: 4% 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
  }

  #services-subscribe {
    width: 30% !important;
    background-color: #ffc01d !important;
    border: none !important;
    height: 25px !important;
    margin: 4% 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
  }

  #contact-subscribe {
    width: 30% !important;
    background-color: #ffc01d !important;
    border: none !important;
    height: 25px !important;
    margin: 4% 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
  }
}
